<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="background-color: #a55f3d !important"
>
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img
        src="assets/logo.jpg"
        alt="Logo"
        width="40"
        height="40"
        class="d-inline-block align-text-top"
      />
      TravelSite
    </a>

    <!-- Hamburger menu for mobile view -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trips">Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transportation">Transportation</a>
        </li>
      </ul>

      <!-- Login/Signup buttons -->
      <div class="d-flex">
        <button class="btn btn-outline-primary me-2" routerLink="/login">
          Login
        </button>
        <button class="btn btn-primary" routerLink="/signup">Sign Up</button>
      </div>
    </div>
  </div>
</nav>
